<h1>Event list</h1>

<p>
    <%= link_to "Latest Events", latest_events_path%>
</p>
<%= form_for @event do |f| %>

    <%= render :partial => "form", :locals => { :f => f } %>

    <%= f.submit "Save", :class => "btn btn-primary" %>

    <%= link_to "Cancel", events_path, :class => "btn btn-default" %>
<% end %>

<hr>
<%= form_tag bulk_update_events_path do %>
  <table class="table">
      <% @events.each do |e| %>
        <tr>
          <td>
            <%= check_box_tag "ids[]", e.id, false %>
            <%= e.name %>
          </td>
          <td>
            <%= link_to 'Show', event_path(e), :class => "btn btn-primary" %>
            <%= link_to 'DashBoard', dashboard_event_path(e), :class => "btn btn-primary" %>
            <%= link_to 'Attendee List', event_attendees_path(e), :class => "btn btn-primary" %>
            <%= link_to 'Get XML', event_path(e, :format => :xml ), :class => "btn btn-default" %>
            <%= link_to 'Get Json', event_path(e, :format => :json), :class => "btn btn-danger" %>
            <%= link_to 'Edit', events_path(:eid=>e), :class => "btn btn-warning" %>
            <%= link_to 'Delete', event_path(e), :class => "btn btn-success", :method => :delete %>
          </td>
        </tr>
      <% end %>
  </table>

    <%= submit_tag "Delete" %>
    <%= submit_tag "Publish" %>
<%end%>

<%#= link_to 'New Event', new_event_path %>
<%#= button_to "Delete All", bulk_delete_events_path, :method => :post %>
<%= paginate @events %>

<%= link_to "Atom feed", events_path(:format => :atom) %>
