<h1>Event list</h1>


<table>
    <% @events.each do |e| %>
      <tr>
            <td>
                <%= e.name %>
            </td>

                <td>
                        <%= link_to 'Show', event_path(e), :class => "btn btn-primary" %>
                        <%= link_to 'Get XML', event_path(e, :format => :xml ), :class => "btn btn-default" %>
                        <%= link_to 'Get Json', event_path(e, :format => :json), :class => "btn btn-danger" %>
                        <%= link_to 'Show', event_path(e), :class => "btn btn-info" %>
                        <%= link_to 'Edit', edit_event_path(e), :class => "btn btn-warning" %>
                        <%= link_to 'Delete', event_path(e), :class => "btn btn-success", :method => :delete %>
                </td>

          </tr>
    <% end %>
</table>
<%= link_to 'New Event', new_event_path %>
<%= paginate @events %>

<%= link_to "Atom feed", events_path(:format => :atom) %>
